
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1.5px;

}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


.hire {
  background-color: white; 
  color: black; 
  border: 1px solid #4CAF50;
}

.hire:hover {
  background-color: #4CAF50;
  color: white;
}




.calll {
  background-color: white; 
  color: black; 
  border: 1px solid rgb(78, 76, 175);
}

.calll:hover {
  background-color: rgb(78, 76, 175);
  color: white;
}
